.team-gallery {

  &__inner {
    overflow: hidden;
  }

  &__grid {
    @include tablet {
      overflow: hidden;
      margin-inline: -16px;
      padding-inline: 16px 48px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-items: end;

    @include tablet {
      display: flex;
      column-gap: 8px;
      align-items: end;
    }
  }

  &__item {
    @include tablet {
      width: 75vw;
      max-width: 480px;
      height: auto;
      flex-shrink: 0;
    }
  }

  &__image {
    max-height: fluid-to-laptop(600, 450);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
