.about-company {
  position: relative;
  min-height: 250vh;
  display: flex;
  overflow: clip;
  padding-block: fluid(240, 120) fluid(80, 40);

  @include tablet {
    min-height: 150vh;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &__bg {
    position: absolute;
    top: -21%;
    bottom: -21%;
    left: 0;
    right: 0;
    background-image: url('/src/assets/images/about-us/hero-bg.webp');
    background-size: cover;
    background-position: center;
    z-index: 0;
    will-change: transform;
  }

  &__inner {
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: fluid(40, 24);
    align-items: start;
    padding-block: fluid(120, 60);
  }

  &__title {
    color: var(--color-light);
    text-transform: uppercase;
    margin-bottom: fluid(24, 16);
  }

  &__wrapper {
    position: sticky;
    top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;

    @include tablet {
      // position: relative;
      // top: unset;
      display: flex;
      width: 80%;
    }

    // @include mobile {
    //   position: relative;
    //   top: unset;
    // }
  }

  &__body {
    grid-column: 7 / span 5;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    row-gap: fluid(40,16);
  }
}
