.project-card {
  display: grid;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: fluid(16,8);
    color: var(--color-dark);
    opacity: 50%;
  }

&__image-wrap {
  overflow: hidden;
}

&__image {
  width: 100%;
    display: block;
    object-fit: cover;
    scale: 1;
    transition: scale 0.5s ease;
}

  @include hover {
   .project-card {
    &__image {
      scale: 1.05;
    }

    &__title {
      color: var(--color-dark)
    }
   }


  }
}
