html {
  box-sizing: border-box;
  &.is-lock {
    overflow: hidden;
  }
}

body {

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  font-size: fluid-to-laptop(18,16);
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 135%; /* 70.4px */
  background-color: var(--color-light);

  @include tablet {
    font-weight: 400;
  }
}

main {
  flex-grow: 1;
}

// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: inherit;
}

h1, .text-2xl {
  @include fluid-text(96, 28);
  font-weight: 600;
  line-height: 110%; /* 105.6px */
  letter-spacing: -0.04em;

  @include laptop {

  }
}
h2, .text-xl {
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.04em;

  @include laptop {
    font-size: 48px;
  }

  @include mobile {
    font-size: 26px;
  }
}
h3, .text-lg {
  font-size: fluid-to-laptop(32, 24);
  font-weight: 600;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.04em;

  @include mobile {
    font-size: 18px
  }
}
h4, .text-sm {
  @include fluid-text(16, 14);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.04em;

  @include tablet {
    font-weight: 400;
  }
}

.text-base {
  font-size: fluid-to-laptop(20,16);
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 135%; /* 70.4px */

  @include tablet {
    font-weight: 400;
  }
}

.text-sm {
  font-size: fluid-to-laptop(16,14);
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 135%; /* 70.4px */

  @include tablet {
    font-weight: 400;
  }
}

p {
  padding: 0;
  margin: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a, button {
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;

  &[class] {
    text-decoration: none;
  }
  :focus-visible {
    @include focus-visible;
  }
}

dialog {
  padding: 0;
  margin: 0;
  border: none;
}

.cta-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}

// Section
.section {
  padding-block: fluid(120,40);

  &__header {
    margin-bottom: fluid(80, 16);
    display: grid;
    row-gap: fluid-to-laptop(16, 8);

    &--centered {
      text-align: center;
      align-items: center;
    }

    &--sticky {
      position: sticky;
      top: 40px;

      @include tablet {
        position: relative;
      }
    }
  }

  &__title {
    @extend .text-sm;
    text-transform: uppercase;

    > span {
      opacity: 0.3;
    }
  }

  &__subtitle {
    @extend .text-2xl;
    text-transform: uppercase;
  }
}
