html {
  &.is-lock {
    overflow: hidden;
  }
}

body {

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  font-size: fluid-to-laptop(20,16);
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 135%; /* 70.4px */
  background-color: var(--color-light);

}

main {
  flex-grow: 1;
}

// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
}

h1, .text-2xl {
  @include fluid-text(96, 28);
  font-weight: 600;
  line-height: 110%; /* 105.6px */
  letter-spacing: -0.04em;
}
h2, .text-xl {
  @include fluid-text(64, 28);
  font-weight: 600;
  line-height: 110%; /* 70.4px */
  letter-spacing: -0.04em;
}
h3, .text-lg {
  @include fluid-text(32, 18);
  font-weight: 600;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.04em;
}
h4, .text-sm {
  @include fluid-text(16, 14);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.04em;
}

p {
  padding: 0;
  margin: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a, button {
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
  :focus-visible {
    @include focus-visible;
  }
}

dialog {
  padding: 0;
  margin: 0;
  border: none;
}

.cta-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
}
