:root {
  --color-light: #FFFFFF;
  --color-dark: #0A0A0A;
  --color-dark-10: #39403B;

  --color-gray-10: #D9D9D9;
  --color-gray-20: #EEF0EF;
  --color-gray-30: #999999;

  --color-accent: #8C9385;
  --color-accent-hover: #5E6458;

  --color-red-45: #DF1215;

  --border: var(--border-width-s) solid var(--color-gray-10);
  --border-width-s: 1px;
  --border-radius-s: 4px;

  --font-family-base: 'Open Sans', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
    )};

  --container-padding-x: 16px;
  --section-padding-y: #{fluid(100,40)};

  --transition-duration: 0.3s;
  --transition-duration-longer: 0.4s;
}
