.contacts-form {
  width: 100%;

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: fluid(40,24);
  }

  &__message {
    display: none;
  }

  &.is-submitted {
    .contacts-form__fields { display: none; }
    .contacts-form__message--success {
      align-self: flex-start;
      display: flex;
      background: #00C851;
      color: var(--color-light);
      border-radius: var(--border-radius-s);
      padding: fluid(16, 8);
    }
  }

  &.is-error {
    .contacts-form__fields { display: none; }
    .contacts-form__message--error {
      display: flex;
      background: var(--color-red-45);
      border-radius: var(--border-radius-s);
      color: var(--color-light);
      padding: fluid(16, 8);
     }
  }

  &__cell {
    &--actions {
      display: flex;
      flex-direction: column;
      row-gap: fluid(24,16);
    }
  }

  &__agreement {
    &--secondary {
      color: var(--color-gray-30);

     & a {
        text-decoration: underline;
        text-underline-offset: 4px;

        @include hover {
          color: var(--color-dark);
          text-decoration: none;
        }
      }
    }
  }
}
