.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: fluid-to-laptop(16, 12);
  border: none;


  &__label {
    @include visually-hidden;
  }

  &__required-star {
    color: var(--color-red-45);
  }

  &__body {
    display: flex;
    column-gap: fluid-to-laptop(16, 12);
    width: 100%;
  }

  &__control {
    width: 100%;
    height: fluid-to-laptop(67, 53);
    color: var(--color-white);
    background-color: var(--color-white);
    border: none;
    border-bottom: 1px solid var(--color-gray-10);

    @include hover {
    border-bottom-color: var(--color-white);
  }

  &:user-invalid,
  .is-field-error & {
    border-bottom-color: var(--color-red-45);
  }
    &:disabled {
      @include disabled;
    }

    &::placeholder {
      opacity: 50%;
    }
  }

  &__control {
  // ...
  outline: none;
}

  textarea.field__control {
    resize: vertical;
    min-height: fluid(163, 109);
    padding-block: fluid-to-laptop(20, 16);
  }
}
