.cta-dialog {
  position: fixed;
  inset: 0;
  left: auto;
  width: 50%;
  height: 100%;
  margin: 0;
  max-height: 100%;
  padding: fluid(40, 32);
  border: none;
  background-color: var(--color-light);
  overflow-y: auto;
  z-index: 102;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  &[open] {
    display: flex;
  }

  @include tablet {
    width: 100%;
    left: 0;
    right: 0;
  }
    &__close {
    @include square(45px);
    @include flex-center(true);
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-dark);
    border-radius: var(--border-radius-s);
    transition-duration: var(--transition-duration);


    @include hover {
      background-color: var(--color-gray-20);
    }
    .icon {
      --iconSize: 32px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: space-between;
    flex: 1;
    // margin-top: fluid(40, 32);
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(24,16);
  }

  &__title {
    font-size: fluid(48, 24);
    font-weight: 400;
    color: var(--color-dark);
  }

  &__subtitle {
    color: var(--color-gray-60);
    max-width: 340px;
  }
}
