.cta-dialog {
  position: fixed;
  inset: 0;
  left: auto;
  width: 50%;
  height: 100%;
  margin: 0;
  max-height: 100%;
  padding: fluid(60, 30);
  border: none;
  background-color: var(--color-light);
  overflow-y: auto;
  z-index: 100;

  @include tablet {
    width: 100%;
  left: 0;
  }
    &__close {
    @include square(45px);
    @include flex-center(true);
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-dark);
    border-radius: var(--border-radius-s);
    transition-duration: var(--transition-duration);


    @include hover {
      background-color: var(--color-gray-20);
    }
    .icon {
      --iconSize: 32px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: fluid(80, 60);
  }

  &__title {
    font-size: fluid(40, 24);
    color: var(--color-dark);
  }

  &__subtitle {
    color: var(--color-gray-60);
    max-width: 340px;
  }
}
