.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-block: fluid(32, 12);


  &--light {
    color: var(--color-light);  // белый текст для ссылок меню

    .header__menu-link {
      color: var(--color-light);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 16px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 16px;
    }
  }


  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    flex: 1;
    z-index: 100;

    @include tablet {
      @include visually-hidden;
    }

    &-list {
      display: flex;
      text-transform: uppercase;
      column-gap: fluid-to-laptop(24, 16);
    }
  }

  &__menu-button {
    z-index: 100;
    @include tablet-above {
      display: none;
    }
  }
  &__compact-mask {
  position: fixed;
  top: calc(32px - 8px);
  right: calc(40px - 8px);
  overflow: hidden;  // ← маска
  padding: 8px;
  z-index: 98;

  @include laptop {
    top: calc(#{fluid(16, 10)} - 8px);
    right: calc(#{fluid(24, 10)} - 8px);
  }
}

  &__compact {
  display: flex;
  column-gap: fluid-to-laptop(8, 4);

}
}



